nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 1em;
  }
  .nav-ul{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    li a{
      text-decoration: none;
      color: black;
      padding: 1em;
    }
    li a:hover{
      background: black;
      color: whitesmoke;
      transition: .5s ease-in;
    }
  }
  #hamburger{
    
    display: none;
    .line{
      width: 30px;
      height: 3px;
      margin: 3px;
      background: black;
    }
  }
  
  @media(max-width: 700px){
    
    #hamburger{
      display: block;
    }
    .nav-ul{
      width: 100%;
      display: none;  
      flex-direction: column;
      align-items: center;
      li {
        padding: 1em;
      }
    }
    .nav-ul.open{
      display: flex;
    }
    
  }