#showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    .img_box{
        padding: 3em;
        width: 400px;
        img{
            box-shadow: -20px 20px 0px 5px #333;
        }
    }
    h3{
        font-size: 2em;
    }
    h5{
        color: teal;
        font-size: 1em;
    }
}

@media (max-width: 700px){
    #showcase{
        display: block;
        .img_box{
            width: 100%;
        }
    }
}