// IMPORTS
@import 'nav';
@import 'showcase';
@import 'projects';


//FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//GENERIC 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}


img{
    width: 100%;
}

